@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

body {
  margin: auto;
  max-width: 1280px;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

.navLink {
  text-decoration: none;
  font-weight: 400;
}

.font {
  color: #344054;
}

.text-lg {
  font-size: 18px;
}

#nav-right {
  display: flex;
  gap: 12px;
  align-items: center;
}

#nav-right > button {
  padding: 8px 27px;
  border-radius: 24px;
}

#login {
  color: #000000;
  background: white;
  border: 1px solid #d0d5dd;
  font-family: "Nunito", serif;
  font-weight: 500;
  cursor: pointer;
}

#book-demo {
  color: #a657e7;
  border: 1px solid #a657e7;
  background: white;
  font-family: "Nunito", serif;
  font-weight: 500;
  cursor: pointer;
}

select {
  border: none;
  outline: none;
  cursor: pointer;
}

select:focus {
  border: none;
}

#login:hover {
  background: #d0d5dd50;
}

#book-demo:hover {
  background: #a657e720;
}
