@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

nav img {
  cursor: pointer;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

.navLink {
  text-decoration: none;
  font-weight: 400;
}

.font {
  color: #344054;
}

.text-lg {
  font-size: 18px;
}

#nav-right {
  display: flex;
  gap: 12px;
  align-items: center;
}

#nav-right > button {
  padding: 8px 27px;
  border-radius: 24px;
}

#login {
  color: #000000;
  background: white;
  border: 1px solid #d0d5dd;
  font-family: "Nunito", serif;
  font-weight: 500;
  cursor: pointer;
}

#book-demo {
  color: #a657e7;
  border: 1px solid #a657e7;
  background: white;
  font-family: "Nunito", serif;
  font-weight: 500;
  cursor: pointer;
}

select {
  border: none;
  outline: none;
  cursor: pointer;
}

select:focus {
  border: none;
}

#login:hover {
  background: #d0d5dd50;
}

#book-demo:hover {
  background: #a657e720;
}

main {
  background-color: #f5f5f5;
  padding: 56px 0;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

#banner-images {
  display: flex;
  gap: 20px;
}

#sub-title {
  padding: 8px 16px;
  background: #ffffff;
  border-radius: 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

#banner-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-items: start;
  align-items: start;
}

.circular-btn {
  padding: 8px 27px;
  border-radius: 24px;
}

#start-btn {
  background: linear-gradient(#b564f7, #6a2f9b);
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

#start-btn:hover {
  background: #6a2f9b;
}

.title {
  font-size: 48px;
  font-weight: 600;
}

#gradient-text {
  background: linear-gradient(to right, #2b034d, #b564f7, #d37ef0, #ef90ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#social {
  font-size: 20px;
  font-weight: 500;
}

#social-detail {
  margin-top: 24px;
  background-color: #ffffff;
  padding: 20px 24px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  border-radius: 16px;
}

.max-w {
  max-width: 1280px;
  margin: auto;
}

.each-social-link {
  width: 48px;
  height: 48px;
  background-color: #e6e6e6;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

.socail-media-img {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#social-links {
  display: flex;
  gap: 32px;
}

.play-video {
  position: relative;
  cursor: pointer;
}

.blur {
  width: 56px;
  height: 56px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #00000008;
  border-radius: 50%;
  backdrop-filter: blur(24px);
}

#banner-footer {
  display: flex;
  justify-content: right;
}

@media screen and (max-width: 600px) {
  nav {
    display: none;
  }

  #banner {
    flex-direction: column;
  }

  #banner-images {
    flex-direction: column;
  }

  #banner-details {
    justify-items: center;
    align-items: center;
  }

  #title-mob {
    text-align: center;
  }
  #text-mob {
    text-align: center;
  }

  #mob-none {
    display: none;
  }

  #social-links {
    gap: 12px;
  }

  #banner-footer {
    justify-content: center;
  }

  #social-detail {
    padding: 10px 14px;
  }
}
